.wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wrap h1 { font-size: 32px; margin: 100px 0; }

.wrap #com { margin-bottom: 50px; }

.wrap #com ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap #player ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap #player ul li { margin: 0 10px; }

.wrap #player ul li img { width: 80px; }
