@import "vars";
@import "mixins";

img {
  vertical-align: top;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 32px;
    margin: 100px 0;
  }
  #com {
    margin-bottom: 50px;
    ul {
      display: flex;
    }
  }
  #player {
    ul {
      display: flex;
      &.prevent {
        pointer-events: none;
      }
      li {
        margin: 0 10px;
        border: 5px solid transparent;
        border-radius: 100%;
        &.on {
          border-color: #000;
        }
        img {
          width: 80px;
        }
      }
    }
  }
}
